
.swiper-pagination-bullet {
  background-color: #a855f7; /* Tailwind purple-500 */
  opacity: 0.6;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #c084fc; /* Tailwind purple-400 */
  transform: scale(1.2);
  opacity: 1;
}
